/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: Georgia, serif;
  line-height: 1.5;
  background-color: rgb(255, 250, 244);
}

a {
  color: #ff5410;       /* blue link */
  text-decoration: none; /* remove underline */
}

a:hover {
  color: #ffba39;       /* change color on hover */
}


/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

p {
  color: rgb(0, 0, 0);
}

h2 {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 30px;
  margin-bottom: 5px;
}



header h1 {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 40px;
  margin-bottom: 20px;
}



header nav {
  text-align: center;
  margin-bottom: 30px;
}


header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #25942e;
  font-weight: bold;
  font-size: 20px;
}

header nav a:hover {
  color: #ff723a;
}

/* ABOUT PAGE */
.about-img {
  float: right;           
  max-width: 300px;       
  width: 100%;            
  height: auto;           
  margin: 0 0 15px 20px;  
  border-radius: 10px;    
}

.about {
  max-width: 900px;       
  margin: 0 auto;        
  padding: 20px;
  line-height: 1.6;       
}


/* GALLERY PAGE */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin: 20px 0;
}


.gallery img {
  border-radius: 10px;
  object-fit: cover;
}

.gallery img:nth-child(5n+1) { width: 300px; }
.gallery img:nth-child(5n+2) { width: 350px; }
.gallery img:nth-child(5n+3) { width: 400px; }
.gallery img:nth-child(5n+4) { width: 450px; }


/* element used: figcaption */
figure {
  margin: 20px auto;
  text-align: center;
}

figcaption {
  margin-top: 8px;
  font-size: 14px;
  color: #363636;
}

/* CHARACTERS PAGE */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  margin: 20px;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  padding: 20px;
  text-align: center;
}


.flip-card-front {
  background-color: #ffe9e2;
  color: #272727;
  display: flex;                  
  flex-direction: column; 
  justify-content: center;        
  align-items: center;            
  text-align: center; 
  padding: 20px;
  height: 100%;  
}


.flip-card-back {
  background-color: #ffe9e2;
  transform: rotateY(180deg);
  display: flex;                  
  justify-content: center;     
}

.flip-card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.characters-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}


/* QUOTE PAGE */
.quotepage-layout {
  display: flex;
  align-items: flex-start;
}

.quotes-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  color:#ff7641
}

blockquote {
  font-size: 18px;
  font-style: italic;
  color: #004105;
  margin: 20px auto;
  padding: 15px;
  border-left: 4px solid #ffc77e;
  background: #fafafa;
  border-radius: 8px;
}

blockquote footer {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.side-nav {
  flex:1;
  position: sticky;
  max-width: fit-content;
  height: fit-content;
  background: #ffe9e2;
  padding: 10px;
  margin: 15px;
  top: 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(180, 103, 1, 0.322);
}

.side-nav ul {
  list-style: none;
  padding: 0;
}

.side-nav li {
  margin: 10px 0;
}

.side-nav a {
  text-decoration: none;
  font-weight: bolder;
  color: #003b00;
}

.side-nav a:hover {
  color: #ff7641;
}